@model IEnumerable<BarberShopListingViewModel>

<div class="row">
    @foreach (var barbershop in Model)
    {
        var userIsAdmin = User.IsInRole(CustomRoles.AdministratorRoleName);
        var userIsBarber = User.IsInRole(CustomRoles.BarberRoleName);
        var userIsOwner = User.IsInRole(CustomRoles.BarberShopOwnerRoleName);

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100" style="width: 20rem;">
                <img src="@barbershop.ImageUrl" class="card-img-top" alt="Barbershop image">
                <div class="card-body">
                    <h5 class="card-title">@barbershop.Name</h5>
                    <p class="card-text">@barbershop.City, @barbershop.District</p>
                    <p class="card-text">@barbershop.Street</p>
                    <p class="card-text d-inline">Working hours:</p>
                    <p class="card-text d-inline">@barbershop.StartHour</p>
                    <p class="card-text d-inline">- @barbershop.FinishHour</p>

                    <a asp-controller="Service" asp-action="All" asp-route-barbershopid="@barbershop.Id" asp-route-information="@barbershop.ToFriendlyUrl()" class="btn btn-primary d-block mt-2">See all the services</a>

                    @if (userIsAdmin || (ViewBag.CanEdit == true && userIsOwner))
                    {
                        <a asp-controller="BarberShop" asp-action="Edit" asp-route-barbershopid="@barbershop.Id" asp-route-information="@barbershop.ToFriendlyUrl()" class="btn btn-warning d-block mt-2">Edit</a>
                        <a asp-controller="BarberShop" asp-action="Delete" asp-route-barbershopid="@barbershop.Id" asp-route-information="@barbershop.ToFriendlyUrl()" class="btn btn-danger d-block mt-2">Delete</a>
                        <a asp-controller="BarberShop" asp-action="Manage" asp-route-barbershopid="@barbershop.Id" asp-route-information="@barbershop.ToFriendlyUrl()" class="btn btn-secondary d-block mt-2">Manage Barbershop</a>
                    }
                    @if (!userIsAdmin && userIsBarber && ViewBag.CanEdit == true)
                    {
                        <a asp-controller="Barber" asp-action="UnassignBarber" asp-route-barbershopid="@barbershop.Id" asp-route-information="@barbershop.ToFriendlyUrl()" class="btn btn-success d-block mt-2">I do not work here anymore</a>
                    }
                    else if (!userIsAdmin && !userIsOwner && userIsBarber)
                    {
                        <a asp-controller="Barber" asp-action="AssignBarber" asp-route-barbershopid="@barbershop.Id" asp-route-information="@barbershop.ToFriendlyUrl()" class="btn btn-success d-block mt-2">I work here</a>
                    }

                </div>
            </div>
        </div>
    }
</div>
