@model IEnumerable<BarberShopListingViewModel>

<div class="row">
    @foreach (var barbershop in Model)
    {
        var userIsAdmin = User.IsAdmin();
        var userIsBarber = User.IsBarber();
        var userIsOwner = User.IsOwner();

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100" style="width: 20rem;">
                <img src="@barbershop.ImageUrl" class="card-img-top" alt="Barbershop image">
                <div class="card-body">
                    <h5 class="card-title">@barbershop.Name</h5>
                    <p class="card-text">@barbershop.City, @barbershop.District</p>
                    <p class="card-text">@barbershop.Street</p>
                    <p class="card-text d-inline">Working hours:</p>
                    <p class="card-text d-inline">@barbershop.StartHour</p>
                    <p class="card-text d-inline">- @barbershop.FinishHour</p>
                    <div class="accordion-item mt-2 mb-2">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Contacts
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                @foreach (var owner in barbershop.OwnersInfo)
                                {
                                    <p>@owner.Name</p>
                                    <p>email: @owner.Email</p>
                                    <p>phone number: @owner.PhoneNumber</p>
                                }
                            </div>
                        </div>
                    </div>

                    <a asp-controller="Service" asp-action="All" asp-route-barbershopid="@barbershop.Id" asp-route-information="@barbershop.ToFriendlyUrl()" class="btn btn-primary d-block mt-2">See all the services</a>

                    @if (userIsAdmin || (ViewBag.CanEdit == true && userIsOwner))
                    {
                        if (barbershop.UserIsOwner)
                        {
                            <a asp-controller="BarberShop" asp-action="Edit" asp-route-barbershopid="@barbershop.Id" asp-route-information="@barbershop.ToFriendlyUrl()" class="btn btn-warning d-block mt-2">Edit</a>
                            <form method="post" asp-controller="BarberShop" asp-action="Delete" class="d-block">
                                <input type="hidden" name="barbershopid" value="@barbershop.Id">
                                <input type="hidden" name="information" value="@barbershop.ToFriendlyUrl()">
                                <button type="submit" class="btn btn-danger w-100 mt-2">Delete</button>
                            </form>
                            <a asp-controller="BarberShop" asp-action="Manage" asp-route-barbershopid="@barbershop.Id" asp-route-information="@barbershop.ToFriendlyUrl()" class="btn btn-secondary d-block mt-2">Manage Barbershop</a>
                        }
                        else
                        {
                            <a asp-controller="BarberShop" asp-action="Edit" asp-route-barbershopid="@barbershop.Id" asp-route-information="@barbershop.ToFriendlyUrl()" class="btn btn-warning d-block mt-2 disabled">Edit</a>
                            <form method="post" asp-controller="BarberShop" asp-action="Delete">
                                <input type="hidden" name="barbershopid" value="@barbershop.Id">
                                <input type="hidden" name="information" value="@barbershop.ToFriendlyUrl()">
                                <button type="submit" class="btn btn-danger d-block mt-2 disabled">Delete</button>
                            </form>
                            <a asp-controller="BarberShop" asp-action="Manage" asp-route-barbershopid="@barbershop.Id" asp-route-information="@barbershop.ToFriendlyUrl()" class="btn btn-secondary d-block mt-2 disabled">Manage Barbershop</a>
                        }
                    }
                    @if (!userIsAdmin && userIsBarber)
                    {
                        @if (!barbershop.UserIsEmployee)
                        {
                            <form method="post" asp-controller="Barber" asp-action="AssignBarber" class="d-block">
                                <input type="hidden" name="barbershopid" value="@barbershop.Id">
                                <input type="hidden" name="information" value="@barbershop.ToFriendlyUrl()">
                                <button type="submit" class="btn btn-success w-100 mt-2">I work here</button>
                            </form>
                        }
                        else if (ViewBag.CanEdit != true)
                        {
                            <form method="post" asp-controller="Barber" asp-action="AssignBarber" class="d-block">
                                <input type="hidden" name="barbershopid" value="@barbershop.Id">
                                <input type="hidden" name="information" value="@barbershop.ToFriendlyUrl()">
                                <button type="submit" class="btn btn-success w-100 mt-2 disabled">You already work here</button>
                            </form>
                        }
                    }

                </div>
            </div>
        </div>
    }
</div>
