@model ManageBarberShopViewModel

@{
    ViewBag.Title = "Manage your babrber shop";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <div asp-validation-summary="ModelOnly" class="text-danger text-center list-error"></div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Services
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-center">
                        <a class="btn btn-primary d-inline btn-manage-padding me-1" asp-controller="Service" asp-action="Manage" asp-route-barbershopid="@Model.BarberShopId" asp-route-information="@Model.ToFriendlyUrl()">Manage all the services</a>
                        <a class="btn btn-secondary d-inline btn-manage-padding" asp-controller="Service" asp-action="Add" asp-route-barbershopid="@Model.BarberShopId" asp-route-information="@Model.ToFriendlyUrl()">Add Service</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Employees
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        @foreach (var barber in Model.Barbers)
                        {
                            <li class="list-group-item text-center">
                                <h6 class="me-3 d-inline">@barber.BarberName</h6>
                                @if (User.Id() != barber.UserId)
                                {
                                    <form method="post" asp-controller="Barber" asp-action="UnassignBarber" class="d-inline">
                                        <input type="hidden" name="barbershopid" value="@Model.BarberShopId">
                                        <input type="hidden" name="barberid" value="@barber.BarberId">
                                        <input type="hidden" name="information" value="@Model.ToFriendlyUrl()">
                                        <button type="submit" class="btn btn-danger d-inline me-1">Fire</button>
                                    </form>
                                    @if (barber.IsOwner)
                                    {
                                        <form method="post" asp-controller="Barber" asp-action="RemoveOwner" class="d-inline">
                                            <input type="hidden" name="barbershopid" value="@Model.BarberShopId">
                                            <input type="hidden" name="barberid" value="@barber.BarberId">
                                            <input type="hidden" name="information" value="@Model.ToFriendlyUrl()">
                                            <button type="submit" class="btn btn-success d-inline me-1">Revoke ownership</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post" asp-controller="Barber" asp-action="MakeOwner" class="d-inline">
                                            <input type="hidden" name="barbershopid" value="@Model.BarberShopId">
                                            <input type="hidden" name="barberid" value="@barber.BarberId">
                                            <input type="hidden" name="information" value="@Model.ToFriendlyUrl()">
                                            <button type="submit" class="btn btn-success d-inline me-1">Make owner</button>
                                        </form>
                                    }
                                    @if (barber.IsAvailable)
                                    {
                                        <form method="post" asp-controller="Barber" asp-action="MakeUnavailable" class="d-inline">
                                            <input type="hidden" name="barbershopid" value="@Model.BarberShopId">
                                            <input type="hidden" name="barberid" value="@barber.BarberId">
                                            <input type="hidden" name="information" value="@Model.ToFriendlyUrl()">
                                            <button type="submit" class="btn btn-warning d-inline">Make unavailable</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post" asp-controller="Barber" asp-action="MakeAvailable" class="d-inline">
                                            <input type="hidden" name="barbershopid" value="@Model.BarberShopId">
                                            <input type="hidden" name="barberid" value="@barber.BarberId">
                                            <input type="hidden" name="information" value="@Model.ToFriendlyUrl()">
                                            <button type="submit" class="btn btn-warning d-inline ">Make available</button>
                                        </form>
                                    }
                                }
                                else
                                {
                                    <form method="post" asp-controller="Barber" asp-action="UnassignBarber" class="d-inline">
                                        <input type="hidden" name="barbershopid" value="@Model.BarberShopId">
                                        <input type="hidden" name="barberid" value="@barber.BarberId">
                                        <input type="hidden" name="information" value="@Model.ToFriendlyUrl()">
                                        <button type="submit" class="btn btn-danger d-inline me-1">Resign</button>
                                    </form>
                                    @if (barber.IsAvailable)
                                    {
                                        <form method="post" asp-controller="Barber" asp-action="MakeUnavailable" class="d-inline">
                                            <input type="hidden" name="barbershopid" value="@Model.BarberShopId">
                                            <input type="hidden" name="barberid" value="@barber.BarberId">
                                            <input type="hidden" name="information" value="@Model.ToFriendlyUrl()">
                                            <button type="submit" class="btn btn-warning d-inline btn-availability-padding">Become unavailable</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post" asp-controller="Barber" asp-action="MakeAvailable" class="d-inline">
                                            <input type="hidden" name="barbershopid" value="@Model.BarberShopId">
                                            <input type="hidden" name="barberid" value="@barber.BarberId">
                                            <input type="hidden" name="information" value="@Model.ToFriendlyUrl()">
                                            <button type="submit" class="btn btn-warning d-inline btn-availability-padding">Become available</button>
                                        </form>
                                    }
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

